{% extends 'github/navBar.html' %}

{% block content %}

{% if issues %}

    <div class="alert alert-primary" role="alert">
        <span class="float-right">{{length}} result(s) fetched</span>
        <br>
    </div> 

    <ul class="list-group">
        {% for issue in issues %}
            <li class="list-group-item">
                <img src={{issue.avatar_url}} height="60px" width="60px" /><br/><br/>
                <b>Title :</b> {{issue.title}} <br/>
                <b>Score Count :</b> {{issue.score}} <br/>
                {% if issue.description %}
                    <b>Description :</b> {{issue.description}} <br/>
                {% endif %}

                <a href={{issue.html_url}} class="float-right btn btn-primary">Go to GitHub link</a>
            </li>
        {% endfor %}
    </ul>

    {% if issues.has_other_pages %}
        <nav aria-label="Saved Issue Pagination">
            <ul class="pagination">
                {% if issues.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ issues.previous_page_number }}" aria-label="Previous">
                            <span>Previous</span>
                        </a>
                    </li>
                {% endif %}
                {% for i in issues.paginator.page_range %}
                    {% if issues.number == i %}
                        <li class="page-item active">
                            <a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a>
                        </li>
                    {% else %}
                        <li class="page-item" ><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if issues.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ issues.next_page_number }}" aria-label="Next">
                            <span>Next</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

    {% else %}
        <div class="alert alert-primary" role="alert">
            <span class="float-right">There are no saved issues.</span>
            <br>
        </div> 

{% endif %}

{% endblock %}



