<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>NavBar</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </head>

    <body class="container">
        <nav class="navbar navbar-expand-lg navbar bg-light">
            <a class="navbar-brand" href="/">GitHub Issue Search</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/search">Search Result</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/saved">Saved Result</a>
                    </li>
                </ul>
            </div>
        </nav>

        {% block content %}
        {% endblock %}
        
    </body>
</html>
